$font-pretendard: "Pretendard Variable", Pretendard, sans-serif;

.table-section {
  margin: 20px auto 50px;
  width: 1600px;
  //border: 1px solid yellowgreen;

  .tbl-line {
    font-family: $font-pretendard ;
    font-size: 16px;
    display: table;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid var(--color-gray-200);
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;

      &:nth-child(even) {
        background: #f2f4f4;
      }

      td {
        //border: 1px solid blue;
        display: table-cell;
      }
    }
  }
}
