/* 공통 버튼 스타일 */
button {
  background: none;  /* 배경색 제거 */
  border: none;      /* 테두리 제거 */
  padding: 0;        /* 기본 패딩 제거 */
  margin: 0;         /* 기본 마진 제거 */
  outline: none;     /* 포커스 시 나타나는 아웃라인 제거 */
  cursor: pointer;   /* 클릭 가능한 상태임을 나타내는 커서 */
}

/* 헤더 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 1920px; /* 최대 너비를 1920px로 제한 */
  margin: 0 auto; /* 중앙 정렬 */
  background-color: #F5F5DD;

  position: fixed;  /* 화면에 고정 */
  top: 0;           /* 화면 상단에 위치 */
  left: 0;          /* 왼쪽에 고정 */
  z-index: 1000;    /* 다른 요소 위에 위치 */
}

/* 로고 버튼 */
.logoBtn {
  background-image: url("../assets/icon/greenlogo.png");
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 70px;
  cursor: pointer;
}

/* 현재 위치 버튼 스타일 */
.locationPinIcon {
  background-image: url("../assets/icon/location-pin.png");
  height: 32px;
  width: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
}

/* 텍스트 영역 */
.areaName {
  font-size: 18px;
  margin-left: 5px;
}

/* 선택된 카테고리 및 버튼 */
.selectedAreaCategory {
  font-size: 18px;
  margin-left: 10px;
}

.selectedAreaCategoryBtn {
  background-image: url("../assets/icon/greenwhiteBtn.png");
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-top: 5px;
}


/* 검색창 스타일 */
.searchStoreSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: rgba(6, 101, 78, 0.3);
  border-radius: 50px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  transition: background-color 0.3s ease; // 검색창 누르면 바뀌는 효과
  margin-left: 200px;

  input {
    width: 100%;
    border-radius: 5px;
    background: none;
    border: none;
    padding-left: 35px;
    margin-left: 10px;
    &::placeholder {
      color: #000000;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .magnifyClickBtn {
    position: absolute;
    left: 20px;
    height: 20px;
    width: 20px;
  }

  .magnifyIcon {
    color: #06654E;
    height: 20px;
  }
}

//리뷰 페이지 이동
.reviewMainIcon {
  background-image: url("../assets/icon/board.png");
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  cursor: pointer;
}

/* 로그인 및 회원가입 버튼 */
.loginBtnSection {
  display: flex;
  gap: 10px; /* 버튼 간격 */
}

.signInBtn, .signUpBtn {
  font-size: 18px;
  color: #06654E;
  transition: 0.3s ease-in-out;
  cursor: pointer; /* 커서를 포인터로 변경 */

  &:hover {
    transform: translate(-10%, -10%);
    border-bottom: 1px solid #06654e;
  }
}

/* 로그인 및 회원가입 버튼 위치 */
.signInBtn {
  margin-left: auto; /* 오른쪽으로 이동 */
}

.signUpBtn {
  margin-right: auto; /* 왼쪽으로 이동 */
}

.dot {
  margin-top: 5px;
  margin-left: 10px;
}

// 햄버거 버튼 반응형 기능 안됨으로 인한 css 추가
.container {
  width: 80%;
  margin: 20px auto 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  background: white;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    border: none;
    margin-top: 0;
  }
}

// 반응형 헤더
@media (max-width: 400px) {
  .header {
    flex-direction: row; /* 요소들을 가로로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    padding: 10px;
    height: 60px;
  }

  .logoBtn {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 60px;
  }

  .locationPinIcon {
    //position: absolute;
    //height: 32px;  /* 크기를 줄이지 않음 */
    //width: 32px;
    //margin-left: 10px;
    display: none;
  }

  .selectedAreaCategoryBtn {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-top: 0;
    left: 200px;
  }

  // 각종 기능은 드롭다운모달로 볼 수있게 설정?
  .reviewMainIcon {
    //position: absolute;
    //right: 5px;
    //height: 40px;  /* 크기를 줄이지 않음 */
    //width: 40px;
    //margin-left: 10px;
    display: none;
  }

  //반응형일시 현재위치 렌더링 안함, 드롭다운으로 볼 수 있게 설정해보기.
  .areaName {
    display: none;
  }

  .selectedAreaCategory {
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 0; /* 아래쪽 여백 제거 */
  }

  .searchStoreSection {
    width: 120px;
    padding: 0 10px;
    background-color: rgba(6, 101, 78, 0.5); /* 투명도 증가 */
    margin-left: 0; /* or 조정된 값으로 변경 */
  }

  .loginBtnSection {
    display: flex;
    flex-direction: row; /* 버튼들을 가로로 정렬 */
    gap: 5px;
    margin-left: auto; /* 오른쪽으로 밀기 */
    margin-top: 0;
  }

  .signInBtn, .signUpBtn {
    font-size: 16px;
    margin: 0;
  }

  .dot {
    margin-left: 0;
    margin-top: 0;
    display: none; /* 점 제거 */
  }
}